<h1>SiteMap XML Generator</h1>
<%= form_tag '/generator/out' do %> 
    <div><%= label_tag 'HTML link' %></div>
    <div><%= text_field_tag 'html_link', "http://anxtrip.com/i/sitemaps"%></div>
    <div><%= submit_tag 'To XML' %></div>
<% end %>
